<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <!-- Servlets -->
    <servlet>
        <servlet-name>BatchController</servlet-name>
        <servlet-class>com.syos.pos.controller.BatchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BatchController</servlet-name>
        <url-pattern>/BatchController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.syos.pos.controller.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShelfController</servlet-name>
        <servlet-class>com.syos.pos.controller.ShelfController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShelfController</servlet-name>
        <url-pattern>/ShelfController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>com.syos.pos.controller.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>com.syos.pos.controller.ReportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/ReportController</url-pattern>
    </servlet-mapping>

</web-app>